@model stajdeneme.Models.tbl_basvuru
@{
    ViewBag.Title = "Foto";
    Layout = null;
}


<title>Yeşil-Mavi Yazılım</title>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="form-group col-md-4">

            <label>
                MVC
            </label>
            <p>@Model.basvuru_becerilermvc</p>
        </div><div class="form-group col-md-4">
            <label>
                ASPNET
            </label>
            <p>@Model.basvuru_becerileraspnet</p>
        </div><div class="form-group col-md-4">
            <label>
                SQL
            </label>
            <p>@Model.basvuru_becerilersql</p>
        </div><div class="form-group col-md-4">
            <label>
                C#
            </label>
            <p>@Model.basvuru_becerilerc_</p>
        </div><div class="form-group col-md-4">
            <label>
                jS
            </label>
            <p>@Model.basvuru_becerilerjs</p>
        </div><div class="form-group col-md-4">
            <label>
                JQUERY
            </label>
            <p>@Model.basvuru_becerilerjquery</p>
        </div><div class="form-group col-md-4">
            <label>
                JAVA
            </label>
            <p>@Model.basvuru_becerilerjava</p>
        </div><div class="form-group col-md-4">
            <label>
                CSS
            </label>
            <p>@Model.basvuru_becerilercss</p>
        </div><div class="form-group col-md-4">
            <label>
                HTML
            </label>
            <p>@Model.basvuru_becerilerhtml</p>
        </div><div class="form-group col-md-4">
            <label>
                XML
            </label>

            <p>@Model.basvuru_becerilerxml</p>
        </div><div class="form-group col-md-4">
            <label>
                JSON
            </label>

            <p>@Model.basvuru_becerilerjson</p>
        </div>
        <div class="form-group col-md-4">
            <label>
                İNGİLİZCE
            </label>

            <p>@Model.basvuru_yabancıdil</p>
        </div>

        <hr />

        <div class="form-group col-md-4">
            <label>
                REFERANS
            </label>

            <p>@Model.basvuru_referans</p>
        </div>
        <div class="form-group col-md-4">
            <label>
                Not Ortalama
            </label>

            <p>@Model.basvuru_notortalama</p>
        </div>
        <div class="form-group col-md-4">
            <label>
                GİTHUB
            </label>

            <p>@Model.basvuru_github</p>
        </div>
        <div class="form-group col-md-4">
            <label>
                SAGLIK DURUMU
            </label>

            <p>@Model.basvuru_saglık</p>
        </div>
        <div class="form-group col-md-4">
            <label>
                COVİD DURUMU
            </label>

            <p>@Model.basvuru_covid</p>
        </div>
        <div class="form-group col-md-4">
            <label>
                Başvuru Tarihi
            </label>

            <p>@Model.basvuru_basvurutarihi</p>
        </div>
        <div class="form-group col-md-12">
            <label>
                BİZİ NASIL BULDUNUZ
            </label>

            <p>@Model.basvuru_nasılbuldunuz</p>
        </div>
        <div class="form-group col-md-12">
            <label>
                HOBİLER
            </label>

            <p>@Model.basvuru_hobiler</p>
        </div>
        <div class="form-group col-md-12">
            <label>
                BİZİ NEDEN SEÇTİNİZ
            </label>

            <p>@Model.basvuru_bizinedensectiniz</p>
        </div>
        <div class="form-group col-md-12">
            <label>
                EK OLARAK..
            </label>

            <p>@Model.basvuru_diger</p>
        </div>
        <div class="form-group col-md-12">
            <label>
                ADMİN YORUM
            </label>

            <p>@Model.basvuru_adminyorum</p>
        </div>



    </div>
</div>

